<%
	var stylesData = public.content.styleguide._data;
%>
<!-- colors -->
<section class="outer-row">
	<div class="inner-row">
		<h1 class="styleguide-title">
			Colors
		</h1>

		<% for ( var i=0; i < stylesData.colors.length; i++ ) { %>
			<div class="colorset">
				<div class="eyebrow">
					<%= stylesData.colors[i].type %>
				</div>
				<% for ( var j=0; j < stylesData.colors[i].content.length; j++ ) { %>
					<div class="figure-wrapper">
						<figure class="<%= stylesData.colors[i].content[j].name %>">
						</figure>
						<figcaption>
							<%= stylesData.colors[i].content[j].caption %>
						</figcaption>
					</div>
				<% } %>
			</div>

		<% } %>
	</div>
</section>

<!--Typography -->

<section class="outer-row">
	<div class="inner-row">
		<h1 class="styleguide-title">
			Typography
		</h1>

		<% for ( var i=0; i < stylesData.typography.length; i++ ) { %>

				<div class="eyebrow">
					<%= stylesData.typography[i].type %>
				</div>
				<% for ( var j=0; j < stylesData.typography[i].content.length; j++ ) { %>
					<div class="title-med">
							ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
							abcdefghijklmnopqrstuvwxyz<br>
							1234567890<br>
							$¢£¥€&#§*†‡¶©®™@<br>
						<p class="caption">
							<%= stylesData.typography[i].content[j].caption %>
						</p>
					</div>
				<% } %>


		<% } %>
	</div>
</section>

<!--Typestyles -->

<section class="outer-row">
	<div class="inner-row">
		<h1 class="styleguide-title">
			typestyles
		</h1>

		<% for ( var i=0; i < stylesData.typestyles.length; i++ ) { %>
				<div class="<%= stylesData.typestyles[i].class %>">
					<%= stylesData.typestyles[i].content %>
				</div>
				<p class="caption"><%= stylesData.typestyles[i].caption %></p>

		<% } %>
	</div>
</section>